asgiref==3.2.7
captcha==0.3
certifi==2023.7.22
Django==3.0.7
django-elasticsearch==7.0.2
django-elasticsearch-dsl==7.1.1
django-hitcount==1.3.2
django-mdeditor==0.1.18
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-redis==4.12.1
django-simple-captcha==0.5.12
elasticsearch==7.7.1
elasticsearch-dsl==7.2.1
Markdown==3.2.2
mysqlclient
Paginator==0.5.1
Pillow>=9.2.0
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
simpleui==4.0.2
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
