{% extends 'base.html' %}
{% block title %} 关于 {% endblock %}
{% block h1 %} 关于本站 {% endblock %}
{% block contaioner %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#"><i class="fa fa-home"></i> 关于本站</a></li>
                        <li></li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12">
                <div class="about-heading">
                    <h2 class="entry-title">免责声明</h2>
                </div><!-- .about-heading -->
            </div><!-- .col -->

            <div class="col-12 col-lg-12">
                <div class="about-stories">
                    <h3>版权声明</h3>

                    <p>
		    所有素材均来自互联网。
		    </p>

                    <p>
		    本站点为个人站点，当然您也可以注册成为本站用户，请维护网络环境。
		    </p>

                    <ul class="p-0 m-0 green-ticked">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul><!-- .green-ticked -->
                </div><!-- .about-stories -->
            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->
{% endblock %}
