{% extends 'base.html' %}
{% block title %}博客 - 主页{% endblock %}
{% load static %}
{% block h1 %}博客-作者搜索{% endblock %}
{% block contaioner %}
    <div class="container">
        <!- 导航 ->
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <!-- <li><a href="#"><i class="fa fa-home"></i> Home</a></li>  -->
                        <li><a href="{% url 'blog-index' %}"><i class="fa fa-home"></i>Blog Grid</a></li>

                        <li><i class="fa fa-search"></i><span>作者搜索</span></li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->
        <!- 导航结束 ->
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts">
                    <div class="row mx-m-25">
                           {% for content in all_content %}
                            <!- 内容 ->
                            <div class="col-12 col-md-12 px-25">
                                <div class="blog-post-content">
                                    <div class="blog-post-content-wrap col-12">
                                        <header class="entry-header">
                                            <!- 标题 ->
                                            <h2 class="entry-title"><a
                                                    href="{% url 'blog-index' %}?title={{ content.id }}">{{ content.title }}</a></h2>
                                            <div class="entry-meta flex align-items-center">
                                                <div class="post-author"><a href="{% url 'blog-index' %}?author={{ content.username }}">作者：{{ content.username }} </a>
                                                </div>
                                                <!- 阅读数 ->
                                                <div class="post-comments"><a href="#">点击量：{{ content.read_count }}</a>
                                                </div>
                                            </div><!-- .entry-meta -->
                                            <div class="entry-meta flex align-items-center">
                                                <!- 阅读数 ->
                                                <div class="post-comments"><span>{{ content.create_time }}</span></div>
                                            </div><!-- .entry-meta -->
                                        </header><!-- .entry-header -->
                                        <div class="entry-content">
                                            <!- 描述 ->
                                            <p><span>简介：</span>{{ content.describe }}</p>

                                        </div><!-- .entry-content -->
                                    </div><!-- .blog-post-content-wrap -->
                                </div><!-- .blog-post-content -->
                            </div><!-- .col -->
{#                        {% endfor %}#}
                        <!- 内容结束 - >
                           {% endfor %}

                    </div><!-- .blog-posts -->
                </div><!-- .col -->

                <div class="pagination flex flex-wrap justify-content-between align-items-center ">
                    <div class="col-12 col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0 offset-lg-7 centered">
                        <ul class="flex flex-wrap align-items-center order-2 order-lg-1 p-0 m-0">
                            <!--分页 -->
                            {% load i18n %}
                            {% if all_content.has_previous %}
                                <li><a href="?{{ all_content.previous_page_number.querystring }}"><i
                                        class="fa fa-angle-left"></i></a>
                                <li>
                            {% endif %}

                            {% for page in all_content.pages %}
                                {% if page %}
                                    {% ifequal page all_content.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_content.has_next %}
                                <li><a href="?{{ all_content.next_page_number.querystring }}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        <!--分页over -->
                        </ul>
                    </div>
                </div><!-- .pagination -->

            </div><!-- .col -->

            <div class="col-12 col-lg-4 ">
                <div class="sidebar">

                    <div class="popular-article">
                        <h2 class="col-12">热门文章</h2>

                        <ul class="p-0 m-0">
                            {% for hot in hot %}
                                <li class="flex flex-wrap justify-content-between align-items-start">
                                    <div class="content-wrap col-lg-12">
                                        <h3><a href="{% url 'blog-index' %}?title={{ hot.id }}">{{ hot.title }}</a></h3>
                                        <div class="course-cost">
                                        </div>
                                    </div><!-- .content-wrap -->
                                </li>
                            {% endfor %}
                        </ul>
                    </div><!-- .popular-article -->
                    <div class="popular-tags">
{#                        <h2>热门标签</h2>#}

                        <ul class="flex flex-wrap align-items-center p-0 m-0">

                        </ul>
                    </div><!-- .popular-tags -->
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div>                  <!-- .container -->


{% endblock %}





